<!--
  TODO: 
    get user role on load
    get board name on load
    link sidenav buttons to appropriate board pages
    change text color of sidenav based on route
-->
<!--large screens sidenav-->
<div fxShow="true" fxHide.lt-md="true">
  <app-sidenav-lg
    boardName="{{boardName}}"
    userRole="{{userRole}}"
    >
  </app-sidenav-lg>
</div>

<!--small screens sidenav-->
<div fxShow="false" fxShow.lt-md="true">
  <app-sidenav-sm
    boardName="{{boardName}}"
    userRole="{{userRole}}"
    >
  </app-sidenav-sm>
</div>