.mat-table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 40%;
  min-width: 100px;
}

@media screen and (max-width: 599px) {
  .mat-table{
    border: 0;
    vertical-align: middle;
  }

  .mat-table .mat-row {
    border-bottom: 5px solid rgba(0, 0, 0, 0.05);
    display: block;
  }
  
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    padding-right: 10px;
    padding-top: 15px;
  }
  .mat-table .mat-cell::before {
    content: attr(title);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .85em;
    padding-left: 10px;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
  .mat-table .mat-cell:first-child::before {
    margin-left: -25px;
  }
}