
.login-card{
  width: 40vw;
  height: 600px;
  max-width: 400px;
  min-width: 300px;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 5px 20px 50px #000;
}

.signup-screen{
  height: 100%;
  width: 100%;
  background: skyblue;
  text-align: center;
}

.signup-form{
  max-height: 500px;
}

